In [1]:
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: pandas in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: scikit-learn in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.3.0)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('player-attributes.csv')

In [4]:
# Removes GK attributes and useless data for calculating pa 
columns_to_exclude = ['Aer', 'Cmd', 'Com','Ecc', 'Thr', 'TRO','Ref','Pun', '1v1', 'L Th', 'Kic', 'Han','Best Role', 'Position','Unnamed: 0', 'Name','Age', 'Club', 'Division', 'Based', 'Nation', 'Height', 'Weight', 'Preferred Foot', 'Value', 'Wage', 'PA']

# Drop the columns you don't want from the DataFrame
df_filtered = df[~df['Best Pos'].str.contains('GK')]
df_filtered = df_filtered.drop(columns_to_exclude, axis=1)

In [5]:
df_filtered

,Best Pos,CA,Wor,Vis,Tec,Tea,Tck,Str,Sta,Pos,...,Cro,Cor,Cnt,Cmp,Bra,Bal,Ant,Agi,Agg,Acc
0,AM (R),195,7,20,20,14,7,9,13,5,...,15,15,13,18,10,19,19,19,7,18
1,ST (C),195,10,14,17,10,8,16,15,6,...,15,13,16,14,16,14,18,13,6,15
2,ST (C),181,10,13,17,10,2,11,14,2,...,13,10,13,18,12,14,17,16,6,20
4,AM (L),186,10,16,20,8,1,10,13,2,...,16,16,10,17,14,14,16,18,10,17
5,ST (C),166,13,13,14,11,7,17,13,7,...,9,7,13,17,14,17,16,14,13,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,ST (C),3,3,1,6,2,1,1,6,1,...,1,2,3,7,2,3,9,8,8,11
144746,M (C),2,9,4,5,5,4,3,5,6,...,1,2,2,4,1,3,4,9,14,9
144747,ST (C),2,2,1,1,1,1,2,7,1,...,1,1,1,8,1,2,4,10,6,11
144748,M (C),1,8,7,8,6,4,6,4,4,...,3,3,4,3,3,4,4,3,16,5
144749,M (C),1,10,2,3,5,3,3,6,3,...,2,2,2,8,1,4,2,12,16,13

In [6]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output = False).set_output(transform='pandas')

In [7]:
ohe_df = ohe.fit_transform(df_filtered[['Best Pos']])

In [8]:
df = pd.concat([df_filtered,ohe_df],axis=1 ).drop(columns = ['Best Pos'])

df

,CA,Wor,Vis,Tec,Tea,Tck,Str,Sta,Pos,Pen,...,Best Pos_D (C),Best Pos_D (L),Best Pos_D (R),Best Pos_DM,Best Pos_M (C),Best Pos_M (L),Best Pos_M (R),Best Pos_ST (C),Best Pos_WB (L),Best Pos_WB (R)
0,195,7,20,20,14,7,9,13,5,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,195,10,14,17,10,8,16,15,6,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,181,10,13,17,10,2,11,14,2,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,186,10,16,20,8,1,10,13,2,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,166,13,13,14,11,7,17,13,7,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,3,3,1,6,2,1,1,6,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
144746,2,9,4,5,5,4,3,5,6,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
144747,2,2,1,1,1,1,2,7,1,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
144748,1,8,7,8,6,4,6,4,4,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
144749,1,10,2,3,5,3,3,6,3,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Define the features (X) and target variable (y)
X = df.drop('CA', axis=1)  # Replace 'Target_Variable_Column_Name' with the name of your target variable column
y = df['CA']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize Random Forest Regressor
model = RandomForestRegressor()

# Train the model
model.fit(X_train, y_train)

model.score(X_test, y_test)

In [ ]:
model.score(X_test, y_test)