In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ethan\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('player-attributes.csv')

In [4]:
# List of columns you want to exclude from training
columns_to_exclude = ['Unnamed: 0', 'Name','Age', 'Club', 'Division', 'Based', 'Nation', 'Height', 'Weight', 'Preferred Foot', 'Value', 'Wage', 'PA']

# Drop the columns you don't want from the DataFrame
df_filtered = df[~df['Position'].str.contains('GK')]
df_filtered = df_filtered.drop(columns_to_exclude, axis=1)

In [5]:
df_filtered

,Position,Best Pos,Best Role,CA,Wor,Vis,Thr,Tec,Tea,Tck,...,Cmp,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc
0,"AM (RC), ST (C)",AM (R),IF,195,7,20,2,20,14,7,...,18,2,2,10,19,19,19,7,2,18
1,"AM (RL), ST (C)",ST (C),CF,195,10,14,2,17,10,8,...,14,4,1,16,14,18,13,6,2,15
2,"AM (RL), ST (C)",ST (C),AF,181,10,13,1,17,10,2,...,18,2,1,12,14,17,16,6,4,20
4,"M (L), AM (LC), ST (C)",AM (L),IW,186,10,16,1,20,8,1,...,17,3,1,14,14,16,18,10,4,17
5,ST (C),ST (C),AF,166,13,13,2,14,11,7,...,17,2,3,14,17,16,14,13,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,ST (C),ST (C),P,3,3,1,4,6,2,1,...,7,3,3,2,3,9,8,8,1,11
144746,M (C),M (C),CM,2,9,4,3,5,5,4,...,4,1,3,1,3,4,9,14,2,9
144747,ST (C),ST (C),P,2,2,1,3,1,1,1,...,8,3,1,1,2,4,10,6,3,11
144748,M (C),M (C),CM,1,8,7,2,8,6,4,...,3,3,3,3,4,4,3,16,1,5
144749,M (C),M (C),BWM,1,10,2,3,3,5,3,...,8,3,2,1,4,2,12,16,2,13